.jumbotron {
  color: white;
  background-color: #2ccaef;
  font-family: "Book Antiqua";
}
.jumbotron h1 {
  text-align: center;
}
body {
  color: white;
  background-color: #9097bf;
  font-family: "Book Antiqua";
}
.col-md-2 {
  background-color: #2ccaef;
  color: white;
  font-family: "Book Antiqua";
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  font-weight: bold;
  display: block !important;
  margin: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    color: white;
    background-color: #2ccaef;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 0 5px black;
    font-size: 16px;
    font-weight: bold;
}
#newGame {
  width:50%;
  margin-left: 25%;
  text-align: center;
}
.btn {
  color: white;
  background-color: #2ccaef;
  margin-left: 5%;
}
h2 {
  text-align: center;
}
.hidden {
  display:none;
}
#results {
  display:none;
}
